*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.list{
    display: flex;
    flex-wrap: wrap;

}

.box {
    text-align: center;
    line-height: 200px;
    height: 200px;
    width: 200px;
}