*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #183A4A;
}

h1{
    color: white;
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    
}

li{
    height: 100px;
    width: 100px;
    margin: 20px;
    text-align: center;
    line-height: 100px;
    background-color: white;
}

.fizzbuzz{
    background-color: red;
}

.buzz{
    background-color: chartreuse;
}

.fizz{
    background-color: purple;
}

.list{
    display: flex;
    flex-wrap: wrap;

}

.box {
    background-color: #3d88ae;
}