*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #183A4A;
}
p{
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 8rem;
    color: white;
    
}

ul {
    list-style-type: none;
}


.list{
    display: flex;
    flex-wrap: wrap;

}

.box {
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 200px;
    height: 200px;
    width: 200px;
    background-color: goldenrod;
}